<div class="card">
  <div class="card-header">OneComponent works!</div>
  <div class="card-block">
    <div class="card-title">Counter</div>
    <div class="card-text">
      {{ counter | async }}
    </div>
  </div>
</div>
