<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a routerLink="./"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         class="nav-link">EntryComponent</a>
    </li>
    <li class="nav-item">
      <a routerLink="./one"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         class="nav-link">OneComponent</a>
    </li>
    <li class="nav-item">
      <a routerLink="./two"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}"
         class="nav-link">TwoComponent</a>
    </li>
  </ul>
</nav>

<div class="content-container">
  <div class="content-area">
    <h1>Dashboard Beta works! (EntryComponent)</h1>

    <p>Beta uses the Clarity Subnav for navigation</p>

    <router-outlet></router-outlet>
  </div>
</div>
